.card{
  width: 100%;
  min-height: 300px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(49, 1, 62, 0.345);
  padding: 1rem;
  margin: 20px;
  border-radius: 1rem;
  line-height: 1.8;
  border-bottom-width: 10px;
}

.name{
  font-size: 2.4rem;
  font-weight: bold;
  color: rgb(140, 20, 225);
}

.heading{
  font-weight: bold;
}


hr{
  border: 0.5px dashed rgba(49, 1, 62, 0.345);
  margin: 5px auto;
}

@media all and (min-width:688px){
  .card{
    width:44%;
  }
}

@media all and (min-width:1024px){
  .card{
    width:400px;
  }
}