.pagination{
  width: max-content;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  background-color: rebeccapurple;
  margin: 2em auto;
  font-size: 1.6rem;
  padding: 0;
  border-radius: 1rem;
}

li{
  color: #fff;
  padding: 10px;
}